:root {
    --primary: #2d4373;
    --danger: #c23321;
}

hr {
    background-color: rgb(175, 175, 175) !important;
    width: 100% !important;
}

.btn-primary-aircloset {
    color: white;
    background-color: #2d4373 !important;
}

.btn-primary-aircloset:hover {
    color: #2d4373;
    border: 1px solid #2d4373;
    background-color: white !important;
}

.btn-outline-primary-aircloset {
    color: #2d4373;
    border: 1px solid #2d4373 !important;
    
}

.btn-outline-primary-aircloset:hover {
    color: white;
    background-color: #2d4373 !important;
    border: 1px solid #2d4373 !important;
}


.text-primary-aircloset {
    color: #2d4373 !important;
}
