nav {
    background: rgba(245,245,245,.5);
}
@media screen and (min-width:800px) {
    nav .desktop {
        /* display: inline-block; */
    }
    nav .mobile {
        display: none;
    }
    nav {
        position: relative;
        height: 8vh;
        /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5); */
    }
    nav .row {
        position: relative;
        margin: 0px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100% !important;
        width: 100% !important;
    }
    nav * {
        height: 100%;
    }
    nav .input-pesquisa {
        position: absolute;
        margin:auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
    }
    nav .lista-opcoes {
        position: relative;
        
    }
    nav .lista-opcoes li {
        color: black;
        display: inline-block;
    } 
    
}
@media screen and (max-width:800px) {
    .content {
        margin-right:0px !important; 
        margin-left:0px !important;
    }
    nav {
        display: block !important;
    }
    nav .mobile {
        display: block;
        margin-left: 0px !important;
        /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5); */
        padding: 10px;
    }
    nav .desktop {
        display: none;
    }
    nav .row.mobile {
        width: 100%;
    }
    nav .mobile img {
        width:50px;
        height: 100%;
    }
    nav .mobile .menu {
        width: 100%;
    }
    nav .mobile ul {
        list-style: none;
        -webkit-padding-start: 0px;
                padding-inline-start: 0px;
    }
    nav .mobile ul li {
        text-align: center;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }
}
nav {
    background: rgba(245,245,245,.5);
}
@media screen and (min-width:800px) {
    nav .desktop {
        /* display: inline-block; */
    }
    nav .mobile {
        display: none;
    }
    nav {
        position: relative;
        height: 8vh;
        /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5); */
    }
    nav .row {
        position: relative;
        margin: 0px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100% !important;
        width: 100% !important;
    }
    nav * {
        height: 100%;
    }
    nav .input-pesquisa {
        position: absolute;
        margin:auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
    }
    nav .lista-opcoes {
        position: relative;
        
    }
    nav .lista-opcoes li {
        color: black;
        display: inline-block;
    } 
    
}
@media screen and (max-width:800px) {
    .content {
        margin-right:0px !important; 
        margin-left:0px !important;
    }
    nav {
        display: block !important;
    }
    nav .mobile {
        display: block;
        margin-left: 0px !important;
        /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5); */
        padding: 10px;
    }
    nav .desktop {
        display: none;
    }
    nav .row.mobile {
        width: 100%;
    }
    nav .mobile img {
        width:50px;
        height: 100%;
    }
    nav .mobile .menu {
        width: 100%;
    }
    nav .mobile ul {
        list-style: none;
        -webkit-padding-start: 0px;
                padding-inline-start: 0px;
    }
    nav .mobile ul li {
        text-align: center;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }
}
