@import url('head.css');
:root {
    --primary: #2d4373;
    --danger: #c23321;
}

.btn-primary-aircloset {
    color: white;
    background-color: #2d4373 !important;
}

.btn-primary-aircloset:hover {
    color: #2d4373;
    border: 1px solid #2d4373;
    background-color: white !important;
}