.produto {
    position: relative;
    width: 20vw;
    max-width: 300px;
    cursor: pointer;
    display: inline-block;
    border: 0.5px solid rgba(156, 156, 156, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.produto a {
    text-decoration: none;
    color: black;
}

.produto .produto-img {
    width: 100%;
    height: 80%;
}
.produto img {
    height:100%;
    width: 100%;
}

@media screen and (max-width:800px) {
    .div-filtros {
        height: 75vh;
        overflow-y: scroll;
    }
}

@media screen and (min-width:800px) {
    .div-filtros {
        height: 75vh;
        overflow-y: scroll;
    }
}