header {
    background: rgba(245,245,245,.5);
}
@media screen and (min-width:800px) {
    header .desktop {
        display: inline-block;
    }
    header .mobile {
        display: none;
    }
    header {
        position: relative;
        height: 8vh;
        /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5); */
    }
    header .row {
        position: relative;
        margin: 0px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100% !important;
    }
    header * {
        height: 100%;
    }
    header .input-pesquisa {
        position: absolute;
        margin:auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
    }
    header .lista-opcoes {
        position: relative;
        
    }
    header .lista-opcoes li {
        color: black;
        display: inline-block;
    } 
    
}
@media screen and (max-width:800px) {
    header .mobile {
        display: block;
        /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5); */
        padding: 10px;
    }
    header .desktop {
        display: none;
    }
    header .mobile img {
        width:50px;
        height: 100%;
    }
    header .mobile .menu {
        background-color: white;
        width: 100%;
    }
    header .mobile ul {
        list-style: none;
        padding-inline-start: 0px;
    }
    header .mobile ul li {
        text-align: center;
        background-color: white;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    }
}